Minimum Viable Manifest

Ignoring issues such as location, serialization, etc. What is the minimum viable manifest? 

I have extracted requirements from  https://github.com/w3c/wpub/issues/6

- identifier (tbd what id is) (required)
- Identification as WP (required)
- list of resources/at least one resource (required)
- required order (required)
- metadata (there are some discussions about what should be included/required in metadata, but that is a separate issue) 
- navigation/toc (optional? required?)
- language (is this metadata?)
- title (is this metadata?)

For more detail see 
https://github.com/w3c/wpub/issues/6#issue-240715512
https://github.com/w3c/wpub/issues/6#issuecomment-313164848
https://github.com/w3c/wpub/issues/6#issuecomment-313497461
https://github.com/w3c/wpub/issues/6#issuecomment-314486416


In Readium Web Publication Manifest, we consider that a minimum viable manifest has:

- a title (`metadata`)
- a canonical locator to the manifest (`links`, using `self` as a rel)
- at least one resource in the reading order (`spine` in Readium, probably called `primary` for WP)

Its identification as a WP manifest is handled by a dedicated media type (`application/webpub+json`), not an element in the document itself.

I know that @lrosenthol has challenged the requirements for both a title and a reading order, but I still feel that this is a good starting point.

For the other things that you've mentioned, I'd say:
- identifier (`metadata`, optional but recommended)
- list of secondary resources (probably using `secondary`, optional but recommended)
- navigation (optional but not clear if this means embedding navigation in manifest or identifying which resource contains the navigation)
- language (`metadata`, optional)

IMO none of these other elements are in a minimum viable manifest.

From @TzviyaSiegman 
> identifier (tbd what id is) (required)

replace _identifier_ by URL and I agree. A manifest, de facto, has a URL.
Some people will use that as an identifier, some people won't. Some will use something else (an ISBN), but the common ground is that this URL exists and unambiguously locates the manifest.

From @HadrienGardeur / @readium/readium2
> a canonical locator to the manifest (`links`, using `self` as a `rel`)

at some point I suppose we'll need to discuss `self` vs. `canonical`. The former is used in Atom (and Readium, obviously ;-), the latter I think is more common on the Web. Not sure about the semantic difference.

Also, is the manifest's URL could be interpreted as the canonical locator by default if `self`/`canonical` is absent, right?

> navigation (optional but not clear if this means embedding navigation in manifest or identifying which resource contains the navigation)

Right. This needs to be discussed, probably in a separate thread.


> replace _identifier_ by _URL_ and I agree.

As a comparison, note that the _manifest_ object in [Web App Manifest](https://www.w3.org/TR/appmanifest/#manifest-and-its-members) do not have an _identifier_ member. But it does have a _URL_ of course:

> Every _manifest_ has an associated _manifest URL_, which is the [WHATWG-URL](https://url.spec.whatwg.org/) from which the manifest was fetched. 


Is this issue intended provide fine details of manifest?  Or is it 
rather intended to provide a high-level overview, which is needed 
for the discussion of desiderata?  I do not want to nail down the 
design of manifest without understanding packaging and 
unpackaging more.

"Default" reading order should be essential.
Regarding Navigation, as per my understanding, it includes hierarchical structure, and convenient access defined by author for pages, notes etc.
The hierarchical map is essential, while convenient access defined by author may be  optional.

@avneeshsingh wrote
> "Default" reading order should be essential.

Even though I'd consider reading order information important to a publication, I don't think it should be required in a manifest; e.g., it seems sufficient if user agents render the the first (primary) resource when they can't find a reading order (whatever it may be).

To answer your questions/points @rdeltour 

> at some point I suppose we'll need to discuss `self` vs. `canonical`. The former is used in Atom (and Readium, obviously ;-), the latter I think is more common on the Web. Not sure about the semantic difference.

`self` was initially introduced in the Atom spec (RFC 4287):
> The value "self" signifies that the IRI in the value of the href attribute identifies a resource equivalent to the containing element.

But the same author (Mark Nottingham) provides an updated definition in Web Linking (RFC 5988, the spec that introduces the Link header to HTTP): 
> Conveys an identifier for the link's context.

On the other hand, `canonical` was introduced in RFC 6596, mostly to deal with duplication:
> The target (canonical) IRI MUST identify content that is either duplicative or a superset of the content at the context (referring) IRI.

In our case I would argue that from the manifest itself, `self` is much better suited.

> Also, is the manifest's URL could be interpreted as the canonical locator by default if `self`/`canonical` is absent, right?

It could, but since the manifest will definitely be distributed in various ways where you won't know be dealing with HTTP (for example when the manifest is in a package), you must have another way to provide that URL.
For this reason, I'd rather have it as a requirement.

@pkra wrote:

> Even though I'd consider reading order information important to a publication, I don't think it should be required in a manifest; e.g., it seems sufficient if user agents render the the first (primary) resource when they can't find a reading order (whatever it may be).

IMO the list of primary resources and the reading order should be the same thing.

“list of primary resources and the reading order should be the same thing.”
So, the order of listing the primary resources becomes the reading order. This is worth considering.
With regards
Avneesh
With regards
Avneesh

@HadrienGardeur wrote

> IMO the list of primary resources and the reading order should be the same thing.

Interesting thought. I guess I'm not clear on the distinction of primary and secondary. But that's a separate issue.

I agree with @HadrienGardeur <https://github.com/hadriengardeur> that the
primary resources and the reading order are one and the same.   I've been
trying to come up with an example of a primary resource (as we've been
thinking about it) that wouldn't be in the default reading order, and I
haven't found one as yet.

I am not clear what the difference is between "navigation" and the "default
reading order" - I see them as exactly the same thing.  So given the DRO
and primary resource alignment above, then we can also merge nav into that
as well and kill three birds.

I would group all metadata together (including title and lang) and make it
optional.  So far, no metadata has been identified as being required for a
WP.  However, I do believe that as we move to PWP and EPUB4, there will be
fields that we will want/need required.

Secondary resource listing gets into some significant complexities (esp.
with relative URL resolution) when you consider the publication
editing/updating.  I would like to avoid this at all costs.


On Fri, Aug 4, 2017 at 6:42 AM, Peter Krautzberger <notifications@github.com
> wrote:

> @HadrienGardeur <https://github.com/hadriengardeur> wrote
>
> IMO the list of primary resources and the reading order should be the same
> thing.
>
> Interesting thought. I guess I'm not clear on the distinction of primary
> and secondary. But that's a separate issue.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/w3c/wpub/issues/15#issuecomment-320218058>, or mute
> the thread
> <https://github.com/notifications/unsubscribe-auth/AE1vNawuUBvNG-zKiPDpbQpMeLTQuVy4ks5sUvWLgaJpZM4OsseF>
> .
>


> I am not clear what the difference is between "navigation" and the "default reading order" - I see them as exactly the same thing.

There's more to navigation than just the reading order: navigation is also about ToC (deep links to the content), or page lists, or landmarks, etc.
But the details s/b discussed in a separate issue, as it may not belong to the minimum viable manifest.

> IMO the list of primary resources and the reading order should be the same thing.

In general I agree, but where does that place "non-linear" resources?

If a resource opens in a new window, is it primary or ... ?

I'm not fully comfortable with the definitions we have, even if they'll do for now. But this is another issue.

On Fri, Aug 4, 2017 at 8:56 AM, Matt Garrish <notifications@github.com>
wrote:

> IMO the list of primary resources and the reading order should be the same
> thing.
>
> In general I agree, but where does that place "non-linear" resources?
>
What's a non-linear, primary, resource?


> If a resource opens in a new window, is it primary or ... ?
>
> For the case of WP, I don't think it matters or that we care.  That's up
to the author and out of scope.

For PWP, there are significant security concerns with this which we'll
address when we get there.


On Fri, Aug 4, 2017 at 8:19 AM, Romain Deltour <notifications@github.com>
wrote:

> I am not clear what the difference is between "navigation" and the
> "default reading order" - I see them as exactly the same thing.
>
> There's more to navigation than just the reading order: navigation is also
> about ToC (deep links to the content), or page lists, or landmarks, etc.
>
Thanks.  Those are definitely non MVP then, since many publications won't
have them.


> But the details s/b discussed in a separate issue, as it may not belong to
> the minimum viable manifest.
>
Yes, sounds like we need to have discussions about this navigation
stuff...and also how much is at the WP level...


Navigation and default reading order are surely different.
One part of Navigation is hierarchy, which is essential.
The other part includes navigation for convenience for example page numbers, links to notes etc. This can be optional, and is based on preference of author.



@murata0204 

> Is this issue intended provide fine details of manifest?

This issue is intended to create a working version of the manifest for FPWD. We will (necessarily) refine is as the details of WP emerge.

I think the minimum viable manifest would include:

1. A list of the primary document resources, in default order
2. a title
3. some way of declaring that this is a web publication

Lots of other things are nice to have, but it's not impossible to imagine life without them. A web manifest would have a URL, which could serve to identify the web publication. For some cases, perhaps nothing more is needed.








I still continue to object to 2 - titles are optional.

Otherwise, I agree that 1 & 3 are MVP.

On Mon, Aug 7, 2017 at 11:40 AM, Dave Cramer <notifications@github.com>
wrote:

> I think the minimum viable manifest would include:
>
>    1. A list of the primary document resources, in default order
>    2. a title
>    3. some way of declaring that this is a web publication
>
> Lots of other things are nice to have, but it's not impossible to imagine
> life without them. A web manifest would have a URL, which could serve to
> identify the web publication. For some cases, perhaps nothing more is
> needed.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/w3c/wpub/issues/15#issuecomment-320699295>, or mute
> the thread
> <https://github.com/notifications/unsubscribe-auth/AE1vNYMWbM_cC3nQB6ih9JR5GfGDTqIvks5sVy_ggaJpZM4OsseF>
> .
>


I still feel that 3 (some way of declaring that this is a web publication) is implicit as long as we have a dedicated media type.

> I still continue to object to 2 - titles are optional

The minimal file that passes HTML5 validation is ```<!doctype html><title>Hello world</title>```. EPUB requires a title. WCAG single A requires titles for web pages. Docbook requires a title. Saving something to the homescreen (a la web app manifest) requires a name.  

For something so fundamental, and so intrinsic to how humans talk about the world, I would want a fairly compelling reason why a web publication shouldn't need a title.

Or, to put it another way, it's easy to imagine untitled documents, but an untitled publication is not yet ready to publish. 



Accessibility also requires as a title.   (WCAG 2.4.2)


I'm wondering about our use cases here:

- do we expect to distribute the manifest without using HTTP (other than PWP of course)?
- if so, could we for example email a manifest to someone? Discover a manifest using some sort of local discovery (on a WiFi, using NFC, pretty much anything)?

Since having a locator is a requirement, if we consider that these are valid use cases, then we also need a locator for the manifest in the minimum viable manifest.

On Mon, Aug 7, 2017 at 12:21 PM, Dave Cramer <notifications@github.com>
wrote:

> I still continue to object to 2 - titles are optional
>
> The minimal file that passes HTML5 validation is <!doctype
> html><title>Hello world</title>. EPUB requires a title. WCAG single A
> requires titles for web pages. Docbook requires a title. Saving something
> to the homescreen (a la web app manifest) requires a name.
>
Yes, but the title could be empty and still be valid.  So what's the point
of having it?

I say this from experience with PDF/X where that was exactly what folks did
- put in blank titles.  So we removed that requirement in later versions of
the standard.


> Or, to put it another way, it's easy to imagine untitled documents, but an
> untitled publication is not yet ready to publish.
>
I disagree.  Most documents are actually untitled.


@lrosenthol actually, HTML5 *requires* a title not be blank. Try the [validator](https://validator.w3.org/nu/#textarea) with `<!doctype html><title> </title>` (or any other variation of "empty"). Without a meaningful title, it's not an HTML document.

Also, @dauwhe's point was that *documents* are often untitled, but publications only lack titles when unpublished--which I think is a safe assertion.

Just clarifying. 👓 

>>  Or, to put it another way, it's easy to imagine untitled documents, but an
>>  untitled publication is not yet ready to publish.
> I disagree.  Most documents are actually untitled.

That's actually agreeing with @dauwhe, who distinguished between "document" and "publication" as a prescriptive definition.

Regarding the list of primary resources (thank you, @murata0204 for noting that, I had missed it), I think we need to list all the resources that could be used by the publication IF we want to allow packaging of arbitrary WPs. Otherwise it is not just difficult to package, it appears to be impossible in the presence of scripts.

On Mon, Aug 7, 2017 at 12:48 PM, BigBlueHat <notifications@github.com>
wrote:

> @lrosenthol <https://github.com/lrosenthol> actually, HTML5 *requires* a
> title not be blank. Try the validator
> <https://validator.w3.org/nu/#textarea> with <!doctype html><title>
> </title> (or any other variation of "empty"). Without a meaningful title,
> it's not an HTML document.
>
That's fine - but that title is on a single content element.  It has
nothing to do with the "publication" itself.

Also, as I noted, validation isn't useful for *ad-hoc* publications since
users won't validate things...


> Also, @dauwhe <https://github.com/dauwhe>'s point was that *documents*
> are often untitled, but publications only lack titles when
> unpublished--which I think is a safe assertion.
>
 For formal publications - I agree.  For *ad-hoc* publications, no it is
not.

Which is why I think that something like title an be a requirement for
something like EPUB4 (which is more targeted to formal publications - at
least if it keeps as EPUB3 is) but not for the generic WP.


> Regarding the list of primary resources (thank you, @murata0204 for noting that, I had missed it), I think we need to list all the resources that could be used by the publication IF we want to allow packaging of arbitrary WPs. Otherwise it is not just difficult to package, it appears to be impossible in the presence of scripts.

I highly doubt that's do-able. IMO we should recommend that the manifest includes an extensive list of secondary resource, but we can't have it as a requirement (this is not EPUB).

I should point out that when you merge/combine multiple (P)WP's together -
the title also becomes problematic as well (though I guess a processor
could fake something - but that's also to my point :))


I'm inclined to the pedantic about  Leonard's  distinction of "ad hoc publications"; if it is so ad hoc that it does not get a title, then it sounds like it is more  of what Dave would refer to as a "document" and not a "publication."

> I should point out that when you merge/combine multiple (P)WP's together - the title also becomes problematic as well (though I guess a processor could fake something - but that's also to my point 

I rather think it supports  the "title can be required" point, actually. Nobody said that the title had to be intellectually  creative content generated by a thoughtful human. If the processor creates the title _Compilation of TITLE 1, TITLE 2, and TITLE 73_, that's a useful and meaningful element in the manifest.

I begin to wonder what we really mean by minimal. If I stay on an abstract level, I would think that issues originally added by @TzviyaSiegman, like the language of the publication, or maybe even the reading order or the TOC are necessary. It is true, however, that _in practice_, some of these are implicit or default. For example, if I do not define the language on the Web, then it is considered to be set to "en" (or "en-us"?). Ie, I may not have to add it to a minimal manifest in practice but, on the abstract level, it is there. The TOC may be unnecessary if the WP only has one primary resource (a single HTML file) but only because it is implicit and does not _have_ to be made explicit.

I would prefer to go back to the original list of @TzviyaSiegman to look at the abstract level, the "information item" level to see what we need. We can then see what can be considered, in some cases, as easily deductable or defined as default, but these two things are different...

I am strongly opposed to removing items from the spec on the grounds that you can't trust users to create documents that are conformant. Either authoring tools enforce conformance, or users create a lot of non-conformant documents.  That is the state of HTML,, CSS, WCAG, and every spec ever written.

(I am _not_ opposed to removing items from the specification on the grounds that they are too onerous for users to implement. I just don't think "a publication must have a title" is too onerous.)

As I said on the call @iherman, I think that you're making a good point about things that are implicit or explicit but I'm not sure this affects the minimum requirements that much.

Do we absolutely want to require a language or a ToC if there's no implicit way to guess them? I don't think so, they're still important to have but not a requirement IMO.

That said, the difference between implicit and explicit info means that the Readium Web Publication minimum requirements are pretty much aligned with what's proposed so far:

- primary resources (explicit for both manifest formats)
- WP-ness (implicit in Readium through the media type, undefined yet for WP)
- primary (explicit for both manifest formats)
- locator for the manifest (explicit in Readium using a link, implicit so far in WP?)

Moving forward, I believe that we should this distinction more often.

for those of you who believe a title is mandatory - why?

What purpose will it serve?  Is it for the user or for some processor (eg.
UA)?  How do you see it being used?


Without a manifest that lists all the resources, we won't be able to take a WP offline which is a requirement of WPs in the charter. Should we remove the offline capability from the charter?

@lrosenthol see https://github.com/w3c/wpub/issues/20 for title discussion

For further discussion of whether the manifest should include metadata, see https://github.com/w3c/wpub/issues/21

I agree with @lrosenthol that titles should be optional for two reasons, both of which touch on general design principles for the manifest format (i.e. this observation is about the general structure and design of the manifest and 'title' is primarily an example and the principle applies to much more):

**First**.  As a principle, if you are going to make a hard 'MUST' requirement then you need to either explicitly mandate UA failure when the requirement isn't fulfilled or you need to specify some form of error recovery.

If you look at the W3C specs that have seen wide adoption (HTML, CSS, JSON-LD), you'll find that they document how the UA is supposed to recover when parsing files that contain invalid data or don't contain required data. Or they specify exactly what the failure scenarios are. Sometimes it's just a short piece of text ("ignore bits you don't recognise or can't map onto bits you do recognise"). Sometimes it's a complex and detailed algorithm (HTML). 

So if a title is essential to a functioning publication you want to either mandate UA failure in its absence (because it's essential) or specify an error-recovery title discovery algorithm that should be used when there's no title. Error-recovery does not have to be an uncommon scenario. E.g. when it comes to HTML parsing, invalid HTML is expected to be common.

With this design a UA will always respond to the error scenario in a predictable way. If a title isn't essential and the UA can design an acceptable user experience where the property may or may not be present, then it really isn't a 'MUST'.

And yes, this same argument can and should be applied to pretty much anything else people want to make a MUST for manifests, from navigation to secondary resources. _This is a general design principle._

MUST, but with error recovery, and SHOULD are also not the same thing. With 'must' the feature in question will always be present in the format or structure once it has been parsed—error recovery during parsing means that either parsing fails or the feature is present. With 'should 'the feature may or may not be present in a parsed document. In HTML, for example, the DOM will always have a certain required structure even when parsing invalid HTML and the spec defines in rigorous detail how a UA should attempt to parse invalid documents.

Once you go down the road of making hard requirements in the manifest that aren't directly related to basic functionality (e.g. without a primary resource there's no 'there' there and the UA needs a WP-ness indicator to trigger WP-behaviour) you end up having to define custom parsing—standard JSON/HTML/whatever parsing won't do. If you don't do this, you are guaranteeing inconsistent behaviour across UAs (like you got with ePub). The alternative is, as stated above, to require explicit failure as XML did and the entire web community has manifestly decided that this is not an acceptable user experience. If we don't want to recreate ePub's dysfunctions, we also have to avoid ePub's design mistakes.

Inconsistent title behaviour may sound like an innocuous problem but this design mistake (i.e. making hard requirements that don't have a basis in either core functionality or in the pre-existing parsing models of the formats you're building on) multiplies overall inconsistent behaviour when repeated throughout a format. It's a recipe for flawed and buggy user agents and negative user experiences.

You can't just say 'this property has to be there because is essential to how publications should/will work' without also defining clear consequences of it not being there.

You can't rely on validators, btw. That has been demonstrated to not work at all for ensuring the validity of documents in use. Most people ignore them completely. Validation needs to be built into the UA's basic handling of the format if it is to be meaningful.

**Second**. I'm worried about statements such as @dauwhe's about making a hard distinction between publications and documents. All HTML files are documents; some of which may also, in the future, be publications. The two conditions are not mutually exclusive. The conditions are dependant on their context, usage and user perspective and not on inherent characteristics of the requirements of web publications as defined. Once we become too prescriptive about how the format should be _used_ we risk needlessly locking ourselves out from a number of unknown future use cases. There is nothing in the definition or requirements of a web publication that makes it explicitly incompatible with the traditional 'document' use case. I don't see a reason to lock out that potential scenario just because some of its characteristics are seen as culturally inappropriate in publishing.

@baldurbjarnason 
> As a principle, if you are going to make a hard 'MUST' requirement then you need to either explicitly mandate UA failure when the requirement isn't fulfilled or you need to specify some form of error recovery.

I don't have a problem with that. We are in the early stages of drafting this spec. Would you like to write a proposal for error messaging? See also https://github.com/w3c/wpub/issues/20

> I'm worried about statements such as @dauwhe's about making a hard distinction between publications and documents. All HTML files are documents...

I do not wish to speak for @dauwhe, but I think that's precisely what he meant. We are not trying to replace HTML nor dictate use. However, we must keep our primary audience in mind when writing. If we are choosing between two scenarios when making a decision for this, I think we must target those creating publications, not those creating documents.




@TzviyaSiegman 

> I do not wish to speak for @dauwhe, but I think that's precisely what he meant. We are not trying to replace HTML nor dictate use. However, we must keep our primary audience in mind when writing. If we are choosing between two scenarios when making a decision for this, I think we must target those creating publications, not those creating documents.

Every time we make that sort of choice we are distancing web publications from the web platform proper. Every publication will start its life as a document somewhere. It doesn't look productive to me to create arbitrary distinctions that have the potential to disrupt the lifecycle of a publication by breaking its flow from document stage to publication stage. I think we should at least try to avoid creating such roadblocks unless there is a clear and pressing functional argument for doing so.

On the subject of whether the Minimum Viable Manifest MUST identify secondary resources, I just wanted to point out for the record that I think that's a slippery slope because secondary resources are more likely to be things that can change over time. Since we defined secondary resources as referenced from primary resources, you should always be able to get to the current set of secondary resources without having them listed in the manifest.

@BillKasdorf You cannot. There is no way to crawl a script and find all the resources it might use or cause to be used. If all secondary resources are not listed, it is not possible to cache a WP offline. I think we either list all resources, or abandon deterministic offline caching.

@bduga 

I interpreted the offline requirement as being a requirement that authors/publishers have to be able to make offline-able web publications, not that every web publication must be offline-able. It sounds like the offline requirement certainly needs to be clarified if understandings of it vary so much.

I don't think requiring all web publications be deterministically cacheable offline (beyond what can be done already with websites) is feasible in general. Making sure it is a capability available to all publishers/authors is reasonable as that's lets publishers make their publication offline-able by listing all of its secondary resources in the manifest which lets the UA do their magic.

Moreover, I think that offline caching, by necessity, has to be granular and not publication-wide. The UA will only every be able to cache resources that are listed in the manifest.

@bduga 

This is not an "all or nothing" scenario, a UA will be able to cache all the resources listed as primary or secondary, this doesn't mean that the publication will be unusable.

I see it as a feature, not a bug: you don't necessarily want to cache for offline access every resource used by your publication. 

Let's say that you're using an analytic service, but it's not designed to work in an offline use case at all. Do you really want to list such a script in your secondary resources? Probably not.

@baldurbjarnason You have to be careful about what you mean by offline. It is the case that not every WP must be packagable (can convert to a PWP), but the charter seems pretty clear about being able to use it offline: "A Web Publication must be available and functional while the user is offline." I don't see a way to interpret that which would allow a WP to be unusable while offline. I do agree with your point, however; for a cache to work publication wide we need to list all resources in the manifest.

@HadrienGardeur In that case, the analytics package is not part of the publication. A manifest is the thing that let's an author specify what they mean by a publication and what should be made available if a user says to make a publication available offline. Not everything linked from a publication is a part of that publication. However, some scripts and their resources *are* part of the publication, and if not available the publication may be considered unusable.

@bduga 

So we agree that not all resources referenced by a content document are part of the publication, which is the reason why the manifest defines that boundary.

This also means that it's the author's responsibility to list resources that are deemed as important enough to be listed as secondary resource. Then why do you object to listing secondary resources being a SHOULD?

@HadrienGardeur Because it isn't a SHOULD? That is, there are some things referenced by the publication that are not part of the publication. Those MUST NOT (or maybe SHOULD NOT) be in the manifest. There are also things referenced from the primary resources that are part of the publication. These are secondary resources. If it is a secondary resource, it is part of the publication. I suppose you could add "references that aren't part of the publication are also secondary resources" in which case SHOULD makes some sense, but that seems really confusing. We have two broad classes here: part of the publication and not part. Within the first set we have primary and secondary, but they both are required parts of the publication and therefore must be available for the content to be considered complete. 

@bduga 

What is and isn't part of a publication is entirely up to the author.

You can't force an author to list anything as secondary in the manifest, therefore listing secondary resources cannot be a MUST.

On the other hand, there's not much of a publication at all if you don't have at least one primary resource. That's why it's perfectly reasonable to have it as a MUST.

@HadrienGardeur 

Um. Your second point is a tautology, but the first part of it seems to be a premise with which I disagree. Why can't I force an author to list anything as secondary in the manifest? You could just as easily say "You can't force an author to list anything as primary in the manifest, therefore listing primary resources cannot be a MUST."

I am arguing that:

All resources that are part of the publication MUST be in the manifest.
There MUST be at least 1 primary resource. The list of primary resources in the manifest MUST be a set of N items, where N is the number of primary resources.
There MAY be secondary resources. The list of secondary resources in the manifest MUST be a set of M items, where M is the number of secondary resources.
Resources referenced from a primary or secondary resource that are not part of the publication MUST NOT be listed in the manifest.

And I entirely agree with your first point. I am only saying that all resources the author considers part of the publication MUST be listed.

@bduga 
> And I entirely agree with your first point. I am only saying that all resources the author considers part of the publication MUST be listed.

That's not going to be a MUST in practice no matter how hard we insist on it in the spec. Authors are going to have resources they consider to be a part of the publication but which they won't list, either because they can't or because they don't want them to be available offline. If we require as a 'must' listing all resources an author considers to be a part of the publication—while knowing the near certain reality that it won't be treated as such in practice—then we severely undermine the credibility of the spec as a standard. 'Web publication' then becomes something that's largely defined by the undocumented specifics of each implementation because the implementations certainly won't be following the actual spec.

Saying 'all the resources the author wants to be made available offline MUST be listed in the manifest' is a much more realistic statement than 'all resources the author considers part of the publication MUST be listed in the manifest'.

@bduga 

> There MAY be secondary resources. The list of secondary resources in the manifest MUST be a set of M items, where M is the number of secondary resources.

We're defining a minimum viable manifest, and based on that sentence you agree that secondary resources are not required. Great, we can move on the the next point.

@HadrienGardeur Cool! I am totally happy with: 

All primary and secondary resources MUST be listed in the manifest.

I could also go for:

All publication resources MUST be listed in the manifest.

I thought there was disagreement about that, but happy there isn't! Let's move on.

WCAG specifies the following:

2.4.2 Page Titled: Web pages have descriptive titles 

2.4.5 Multiple Ways: More than one way is available to locate content within a set of Web pages
2.4.7 Location: Information about the user's location within a set of Web pages is available. 

Without title and navigation we are leading towards inaccessible publications.
This also makes me think what is meant by minimum viable manifest. Are we trying to specify what is optional and what is required at this time? This raises my concerns.
Or are we saying lets start from initial 3 or 4 essential things and then refine others while moving ahead? If this is the case, then it is a better approach provided we maintain the list of items for which we need to make the decision in due course. And it will be important to include title and navigation in the list.

@HadrienGardeur

> As I said on the call @iherman, I think that you're making a good point about things that are implicit or explicit but I'm not sure this affects the minimum requirements that much.
>
> Do we absolutely want to require a language or a ToC if there's no implicit way to guess them? I don't think so, they're still important to have but not a requirement IMO.

I may have a different thing in mind for what a minimal (abstract) manifest is. And if I am alone with this, I will shut up:-)

My mental model as akin to the [XML Infoset standard](https://www.w3.org/TR/xml-infoset/) (much as XML is out of fashion these days): that standard defines what type of information items are available for an XML processor in the abstract sense, regardless of how that is defined, serialized, etc, in practice. The same here: what we have to decide what are the information items that a WP user agent must have and should have to properly handle a WP. How that information is provided, what is encoded directly in JSON or, God forbid, in XML is a different matter, but having this abstract set as a guiding principle is important. It is interesting to see that the resolution the ["title" issue](https://github.com/w3c/wpub/issues/20) converging towards makes my point:

> In the event that a WP does not have a title, the title of the WP shall default to the title of the first primary resource.

What this means in my thinking is that

1. An abstract minimum viable manifest MUST have a title
2. However, the title is not necessarily expressed in a concrete manifest (encoded in some form) but can be deduced somehow

And I am not sure we do agree about the information items that must be available. Take the language. My point is: for a _publication_ a language information MUST be available. (Think of the fact that a proper rendering of a text, if we want a publication to be rendered according to the typesetting traditions of a local culture, relies on that information). That being said, I do not think an concrete manifest MUST include a language tag, recognizing the fact that the language tag may be deduced from the primary resources (just like the title) and it even has a well define default.

But, again: my view of what a minimal viable manifest is may be different from others'.


@iherman I was told during the call that we're not discussing an abstract manifest anymore, so I'm a little lost here...

But going back to @TzviyaSiegman initial list, here's my list of requirements based on what you've said:

- A WP MUST have a locator, which MUST be explicitly expressed in the manifest (because there are legitimate use cases that are not based on HTTP, so we can't default to HTTP)
- A WP MUST have an identifier, which defaults to the locator if the identifier is not expressed in the manifest's metadata
- A WP manifest MUST identify itself as a WP using a dedicated media type and a file extension (exactly like Web App Manifest)
- A WP MUST have a list of resources in reading order, which MUST be explicitly expressed in the manifest

The following points are IMO just SHOULD and not requirements:

**A WP SHOULD contain a title, which defaults to the title of the first HTML primary resources**

Since WP should IMO support audiobooks and comics, we can't expect to always have an HTML primary resource.
That's why I believe that a title is not a requirement.

**A WP SHOULD contain navigation, which defaults to extracting navigation from HTML documents listed as primary resources**

For the same reason, while navigation can default to extracting an outline from HTML documents, we can't always expect the presence of HTML which means that navigation cannot be a requirement.

**A WP SHOULD contain a language**

For the language, HTML documents already have their own default and we don't really need a language for audio/video/images that might be listed as primary resources.
That's why I don't think that having a language for the publication (vs a language per resource) is necessary.

> @iherman I was told during the call that we're not discussing an abstract manifest anymore, so I'm a little lost here...

As I said, if this is the group consensus, I shut up. (I do not remember this from yesterday, but that may be my fault).

> here's my list of requirements based on what you've said:
> A WP MUST have a locator, which MUST be explicitly expressed in the manifest (because there are legitimate use cases that are not based on HTTP, so we can't default to HTTP)

I am fine saying it MUST but isn't it so that if it is on the Web it has an HTTP(S) locator? What other ones do you have in mind?

> A WP MUST have an identifier, which defaults to the locator if the identifier is not expressed in the manifest's metadata

Disagree. A locator is not _necessarily_ an identifier; many locators are used in a way that if the WP is moved, the locator of course changes (ie, no redirection is necessarily set up). One of the important aspect of identifiers is its immutability. I think we should stick with the SHOULD as descrined yesterday.

> A WP manifest MUST identify itself as a WP using a dedicated media type and a file extension (exactly like Web App Manifest)

Must identify itself: yes. But whether we will use media types or not, not sure. (One of the problems I foresee is that it is not possible to define a three level hierarchy in media types. Ie, we can say json+manifest but we cannot say json+ld+manifest if we go down that line. I would leave this open at this point.)

> A WP MUST have a list of resources in reading order, which MUST be explicitly expressed in the manifest

I am personally fine with this, although I do not believe there is a consensus in the group.

> A WP SHOULD contain a title, which defaults to the title of the first HTML primary resource

Your argument in https://github.com/w3c/wpub/issues/15#issuecomment-320899101 on audiobooks and comics is compelling, but I am not sure there is a consensus. I am still more in favour, instinctively, on making a title a must, but I won't lie down the road over this:-)

B.t.w., I think the consensus was in direction of the title in the first primary resource. If that is an SVG file, it may have a title...

> A WP SHOULD contain navigation, which defaults to extracting navigation from HTML documents listed as primary resources

I see your point for comics; I cannot really decide. (Although I am not sure I see how comics could be enjoyed without an order but, I must admit, I never read comics...)

> A WP SHOULD contain a language

We must be careful about that one. The language is for the content, but not only. It may be important for any type of metadata that we add. But, thinking it further: I may be fine with a SHOULD for the reason you cite. (Although I would say it is a very strong SHOULD: if there is any kind of textual metadata, including a title, then it is MUST, with a default fallback probably on "en".)


About the title, I'd like to add that if we want a WP to be accessible by spec, it is a MUST.
Or we decide that a WP conformant to the spec may not be accessible.

> if we want a WP to be accessible by spec, it is a MUST

What is the necessity of a title in the manifest for accessibility? I haven't seen that answered yet, and it's an important question.

There are things it can help with, like search discovery, that I think will push people to add them, but we haven't defined what a user agent is supposed to do with a manifest. Until then, it's hard to give an objective opinion about the imperative for a title.

For example, a title is necessary for an HTML page because it's what is announced when the page is loaded, and what is displayed as a title for the tab/browser.

It's also important for a packaged EPUB to have one in the package document because it's the primary source of information for the user. And I'd argue it's necessary for a PWP for the same reason.

But who has access to the manifest on the open web? When would an AT ever interact directly with the manifest? It will only have access through the user agent.

Is the user agent expected to expose the name of the publication? If it does expose a title, when and how does that happen? Doesn't the publication title need to be available regardless of support for manifests? (i.e., is the manifest more like a hidden enhancement layer?)

If we have an answer that makes a title essential, then making titles required is a no-brainer. Otherwise, we're straying into the territory of mandating metadata for the sake of metadata, or because we think it might be useful.

> Or we decide that a WP conformant to the spec may not be accessible.

That boat sailed when we didn't put any restrictions on the content of the web publication.

> A WP MUST have a locator, which MUST be explicitly expressed in the manifest (because there are legitimate use cases that are not based on HTTP, so we can't default to HTTP)

I disagree with the 2nd MUST. **If** there are legitimated use cases that are not based on HTTP (I'm not sure about that btw, mostly because of the Web security model, but it's another debate), the locator **could** be defined explicitly, but I don't see why it **MUST** be by default, when the implicit definition is fine in the vast majority of cases.

I have created https://github.com/w3c/wpub/issues/22 to discuss which resources should be listed in manifest with regard to offlining Web Publications

@rdeltour 

We need such a locator to be explicit for the same reasons that Atom has an explicit "self" link.

The manifest will be cached/stored/shared in contexts where this information is not available implicitly. This has nothing to do with the Web security model and doesn't affect it either.

PWP itself could be a good example of that. If we adopt a ZIP based container for EPUB 4, an explicit locator for the manifest will be the only way to get that info.

In reply to @iherman:

> Disagree. A locator is not necessarily an identifier; many locators are used in a way that if the WP is moved, the locator of course changes (ie, no redirection is necessarily set up). One of the important aspect of identifiers is its immutability. I think we should stick with the SHOULD as descrined yesterday.

Without a default identifier, UAs will define their own in an inconsistent way.

I know that a locator (URL) is not necessarily immutable, but it's still better than having no default at all and having references that are not valid across UAs.

> I know that a locator (URL) is not necessarily immutable, but it's still better than having no default at all and having references that are not valid across UAs.

I am not really sure what you mean. Without an identifier we have… what we have today with many documents on the Web. Things are indeed messy… so we have to convince publishers in the genera sense (remember the best practices document proposal) to use immutable and stable identifier.

If an identifier is not immutable, it is not an identifier as far as I am concerned.

@iherman without an identifier, how do you expect that UAs will reference a specific WP?

(FYI, I'm not arguing for making an explicit identifier a requirement, I don't think that this would be reasonable)

> We need such a locator to be explicit for the same reasons that Atom has an explicit "self" link.

… which, if I understand correctly, is [only a SHOULD in Atom](https://tools.ietf.org/html/rfc4287#section-4.1.1).

> The manifest will be cached/stored/shared in contexts where this information is not available implicitly. 

Nothing would prevent a UA to add this info to the manifest at caching/storing/sharing time.

To clarify: I'm just saying that I still don't see a compelling reasons why the link **must** be explicit.
It's not a strong objection, it's just that I think having an implicit definition can be just fine in many cases.


@rdeltour it is a SHOULD in Atom but we have more use cases (offline, packaged) where this is relevant.

> Nothing would prevent a UA to add this info to the manifest at caching/storing/sharing time.

Yikes. I know that a proxy can change content, but this shouldn't be a requirement.


> @iherman without an identifier, how do you expect that UAs will reference a specific WP?

There is a locator, which is a MUST (well, it is there in any case, because the WP is on the Web!). Just like the Web today. And in a sloppy case we know that these locators change because, say, publishers move things around on their website. Users hit this problem all the time...



@iherman so we almost agree. We both believe that:

- a locator is a requirement
- that without the presence of an identifier, a UA will most likely use the locator to the manifest as a fallback

The source of our disagreement is that I believe that we should explicitly indicate the locator as a fallback while you'd rather not. I think that we can keep that question open for now and revisit later.

I wrote this on the title issue (https://github.com/w3c/wpub/issues/20) but cross-posting as it seems relevant to the manifest issue in general:

> I don't have the luxury to dedicate another day to W3C work but I will quickly note that we do have an overall conclusion that impacts the overall design of the manifest based on comments such as https://github.com/w3c/wpub/issues/20#issuecomment-320768374j and https://github.com/w3c/wpub/issues/20#issuecomment-320954350.
> 
> Namely, even when we have features that are a definite must for a Web Publication as a whole it does not follow that the best solution is to require them to be a part of the manifest. We have a very limited ability to police and enforce the validity of manifests authored in the wild. If we depend on the willingness of authors to provide valid code, we end up with an ecosystem that's largely inaccessible and broken for many users. We should try to avoid repeating that mistake if possible. Whereas we _can_ require that User Agents provide these features and we can back that requirement with guidelines for recovery or fallbacks to ensure consistent behaviour. Sometimes that will mean describing a simple fallback algorithm (as I've suggested above with "title"). Sometimes that requires active User Agent intervention (as per the Web App Manifest spec).
> 
> I'd like to suggest that unless we are absolutely convinced that a stated requirement cannot be fulfilled through other means, we avoid as much as possible to make any feature a MUST provide when it comes to the manifest. That way we can keep the manifest specification manageable.

>@iherman so we almost agree. We both believe that:
>
> * a locator is a requirement
> * that without the presence of an identifier, a UA will most likely use the locator to the manifest as a fallback

Correct.

> The source of our disagreement is that I believe that we should explicitly indicate the locator as a fallback while you'd rather not. I think that we can keep that question open for now and revisit later.

We can have a mechanism to indicate that the locator _is_ a fallback of some sort if we need it; my major objection is that _this fallback must not be considered as an identifier_ (at least not automatically).

@deborahgu had the comment yesterday on the call that a locator is like a URL and the identifier is like an ISBN. She was absolutely right with this comparison. Assigning an identifier to a publication is not only a technical step; it is some sort of a _social commitment_. It says "this value will not be changed, it will always identify this publication no matter what". It can be used in the formal catalogues of national libraries and archives, in bookmarks that you intend to use 10 years down the line, etc.

In some cases, a locator is also an identifier. https://www.w3.org/TR/annotation-model/ is an identifier for the Annotation Model standard, but only because W3C (and MIT) has a public pledge that the "/TR space" of W3C will always be there unchanged, with all its content. (If W3C goes down the drain, the pledge of MIT is to keep it up nevertheless. If MIT goes down the drain… well, that would be the end of the World as we know it:-). But I think we can both agree that there will be many WP-s out there without a similar pledge, and we should not give the impression that it is there.


In reply to @iherman 

> We can have a mechanism to indicate that the locator is a fallback of some sort if we need it; my major objection is that this fallback must not be considered as an identifier (at least not automatically).

Your proposal definitely works for me, I think it's a good compromise.

In reply to @baldurbjarnason 

> I'd like to suggest that unless we are absolutely convinced that a stated requirement cannot be fulfilled through other means, we avoid as much as possible to make any feature a MUST provide when it comes to the manifest. That way we can keep the manifest specification manageable.

Overall I think that we have a perfectly reasonable list of requirements so far, but I agree that in general we should be careful.

So far, the consensus is a single explicit requirement in the manifest:

- at least one primary resource listed

There are other requirements but TBD or implicit at this point:

- WP-ness
- locator

Addressed by https://github.com/w3c/wpub/pull/51

See [telco discussion](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2017/2017-08-28-minutes#section3) on closure.